@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p{
  font-family: 'Montserrat', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
}

#map {
  position: fixed;
  width: 50%;
  min-height: 500px;
}


#features {
  width: 50%;
  margin-left: 50%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
}

section {
  padding: 25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
  font-size: 13px;
}

section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}
